*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(212, 45%, 89%);
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.card{
        background-color:hsl(0, 0%, 100%);
        display: inline-block;
        width: 20rem;
        border-radius: 10px;
        
}
.qr-img{
    width: 20rem;
    padding: 10px;
    border-radius: 20px;

}

.container{
    padding: 0%;
}
h1{
    font-size:150%;
    padding: 2rem;
    margin: auto;
    padding-top: 10px;
}
p{
    font-size: 120%;
    margin-top: auto;
    display: block;
    
}
.attribution {
    font-size: 11px; text-align: center; 
}


.attribution a {
     color: hsl(228, 45%, 44%);
}